#ffh {
    top: 3%;
    padding: .5vh 5vw .5vh 7vw;
    position: relative;
    float: right;
    background-color: #3bbddc;
    z-index: 1;
    box-shadow: .7vh .7vh 15px -3px black;
    display: inline-grid;
    grid-column-gap: 1vw;
}

#ffi {
    width: 4vmax;
    grid-row-start: 1;
    margin: auto;
}

#ff {
    color: white;
    font-weight: bold;
    font-size: 5vmax;
    text-align: center;
    grid-row-start: 1;
    margin: auto;
}

#fishdisplay {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 0vh;
    width: -webkit-fill-available;
    z-index: 1;
    margin: 0% 10%;
    height: 40vh;
}

#fishbuttons {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
}

.button {
    border: none;
    background-color: white;
    color: #0b7b94;
    flex-grow: 1;
    margin: 2px;
    padding: 3vh 3vw;
    font-size: 2vmax;
    border-radius: 5px;
    text-align: center;
    box-shadow: .7vh .7vh 15px -3px black;
}

#fishinfopanel {
    background-color: #3bbddc;
    box-shadow: .7vh .7vh 15px -3px black;
    height: 75%;
    border-radius: 5px;
}

#fishinfo {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#fname {
    color:white;
    text-align: center;
    margin: 3vh 3vw 3vh 3vw;
    font-size: 2vmax;
}

.fishdata {
    color:#0b7b94;
    font-size: 3vmax;
    margin: 1.5vh 10vw;
    width: -webkit-fill-available;
}